html {
    background: black;
}
.container {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Rainbow_icon.svg/1200px-Rainbow_icon.svg.png');
    margin: 0 auto;
    max-width: 48rem;
    width: 90%;
  }
.container>:nth-child() {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Rainbow_icon.svg/1200px-Rainbow_icon.svg.png');
    margin: 0 auto;
    max-width: 48rem;
    width: 90%;
}
.container::before::cue() {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Rainbow_icon.svg/1200px-Rainbow_icon.svg.png');
    margin: 0 auto;
}

.warning-message {
    background: #ffb171;
    width: 100%;
}
button {
    background: orange;
    color: white;
    font-family: Segoe UI;
}
button:hover {
    background: white;
    color: rgb(88, 86, 86);
    font-family: Segoe UI;
}
sitcom-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;
}
school-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;    
}