html {
    background: black;
}
.container {
    background: rgb(57, 149, 255);
    width: 100%;
    height: 80px;
    background-color: #00eeff;
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}

.about-stylespage {
    width: 100%;
    height: auto;
    background-color: rgb(138, 255, 4);
    margin-right: auto;
    margin-left: auto;
    color: rgb(138, 255, 4);
}

.warning-message {
    background: #ffb171;
    width: 100%;
    height: 80px;
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}
button {
    background: orange;
    color: white;
    font-family: Segoe UI;
}
button:hover {
    background: white;
    color: rgb(88, 86, 86);
    font-family: Segoe UI;
}
sitcom-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;
}
school-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;    
}