html {
    background: black;
}
.container {
    background: rgb(57, 149, 255);
    width: 100%;
    height: auto;
    background-color: #00eeff;
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}
/* Make the child go to the border */
.container>:nth-child() {
    border:thick;
    background: rgb(57, 149, 255);
    width: 100%;
    height: auto;
    background-color: #00eeff;
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}
/* The child must be with lot of details to border it to the limit. */
.about>:nth-last-child() {
    box-sizing: border-box;
}

.about-stylespage {
    width: 100%;
    height: auto;
    background-color: rgb(138, 255, 4);
    margin-right: auto;
    margin-left: auto;
    color: rgb(138, 255, 4);
}

.about {
    width: 100%;
    height: auto;
    background-color: rgb(122, 122, 122);
    margin-right: auto;
    margin-left: auto;
    color: rgb(122, 122, 122);
}

.box {
    width: 100%;
    height: auto;
    background-color: rgb(186, 255, 121);
    margin-right: auto;
    margin-left: auto;
    color: rgb(186, 255, 121); 
}

.warning-message {
    background: #ffb171;
    width: 100%;
    height: 80px;
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}
button {
    background: orange;
    color: white;
    font-family: Segoe UI;
}
button:hover {
    background: white;
    color: rgb(88, 86, 86);
    font-family: Segoe UI;
}
sitcom-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;
}
school-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;    
}
strong {
    font-family: Segoe UI;
    color: white;
}
strong>::after {
    font-family: Segoe UI;
    color: white;
}