html {
    background: black;
}
.container {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Rainbow_icon.svg/1200px-Rainbow_icon.svg.png');
    width: 200px;
}
.warning-message {
    background: yellowgreen;
    width: 200px;
}
button {
    background: orange;
    color: white;
    font-family: Segoe UI;
}
button:hover {
    background: white;
    color: rgb(88, 86, 86);
    font-family: Segoe UI;
}
sitcom-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;
}
school-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;    
}