html,body {
    background: black;
}
oswaldfonthahahaaha {
    font-family: 'Oswald';
    color: white;
}
chardialouge-oswald {
    font-family: Segoe UI;
    font-style: italic;
    /* amogus */
    color: white;
}
logo-blueityclientrips {
    content: url("https://raw.githubusercontent.com/gagominecraft12/blueityclientrips/master/static/img/0ccfc131-9b98-49e1-af37-62e6bda74955.sketchpad%20(1).svg");
}
anotherheader {
    background:rgb(204, 204, 204);
    display:contents;
}
.container {
    background: rgb(190, 190, 190);
    width: 100%;
    height: auto;
    background-color: rgb(190, 190, 190);
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}
/* Make the child go to the border */
.container>:nth-child() {
    border:thick;
    background: rgb(57, 149, 255);
    width: 100%;
    height: auto;
    background-color: #00eeff;
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}
/* The child must be with lot of details to border it to the limit. */
.about>:nth-last-child() {
    box-sizing: border-box;
}

.about-stylespage {
    width: 100%;
    height: auto;
    background-color: rgb(138, 255, 4);
    margin-right: auto;
    margin-left: auto;
    color: rgb(138, 255, 4);
}

.about {
    width: 100%;
    height: auto;
    background-color: rgb(122, 122, 122);
    margin-right: auto;
    margin-left: auto;
    color: rgb(122, 122, 122);
}

.box {
    width: 100%;
    height: auto;
    background-color: rgb(186, 255, 121);
    margin-right: auto;
    margin-left: auto;
    color: rgb(186, 255, 121); 
}

.warning-message {
    background: #ffb171;
    width: 100%;
    height: 80px;
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}
/* Thanks to w3forschools for making me the dropdowns */
/*
REFERENCE:
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
 
*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .strong-center {
      text-align: center;
      font-size:larger;
      font-family: Segoe UI;
      color:rgb(0, 0, 0)
  }
button {
    border: 0px;
    background: orange;
    color: white;
    shape-outside: dummy;
    font-family: Segoe UI;
}
button:hover {
    border: 1px;
    background: white;
    color: rgb(184, 184, 184);
    font-size: medium 55.2px;
    font-family: Segoe UI;
}
#btn-blue {
    border: 0px;
    background: rgb(0, 132, 255);
    color: white;
    shape-outside: dummy;
    font-family: Segoe UI;
}
#btn-blue:hover {
    border: 1px;
    background: rgb(126, 193, 255);
    color: rgb(184, 184, 184);
    shape-outside: dummy;
    font-family: Segoe UI;
}
sitcom-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;
}
school-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;    
}
thisarea {
    display: list-item; color:rgb(57, 149, 255) calc(0);
}
details {
    color: white;
    font-family: Segoe UI;
}
strong {
    font-family: Segoe UI;
    color: white;
}
strong>::after {
    font-family: Segoe UI;
    color: white;
}
fieldset {
    background-color: rgb(187, 187, 187);
    background-position: center;
}
manticon {
    content: url(./static/svg/403icons/Drawing.sketchpad.svg);
}
wrning-mssagetext {
    font-family: Segoe UI;
    color: white;
}
noscript {
    background-color: black;
}
noscript .safearea {
    background-color: black;
    display: table;
}
div .table {
    background-color: black;
    display: table;
    caption-side: calc(0.2 = 5);
    color-interpolation-filters: sRGB;
}
footer {
    background-color: gray;
    display:table;
}
table {
    display: table;
    background-color: honeydew;
    border: 1px solid;
}
td { 
    color: rgb(0, 0, 0);
    font-family: Verdana;
}
tr {
    background-color: gray;
}
a {
    font-family: Segoe UI;
    color:rgb(255, 255, 255)
}
br {
    font-family: Segoe UI;
    color:rgb(255, 255, 255)
}
bluefootermsg {
    font-family: Segoe UI;
    color: white;
}
noscript {
    background-color: black;
}
a:link {
    color: white;
    font-family: Segoe UI;
}