html,body {
    background: linear-gradient(to bottom, #0021b4, #0011ff);
}
blockelement#grass {
    display: none;
}
oswaldfonthahahaaha {
    font-family: 'Oswald';
    color: white;
}
chardialouge-oswald {
    font-family: Segoe UI;
    font-style: italic;
    /* amogus */
    color: white;
}
div.grass {
    background-image: linear-gradient(to bottom, #00ff42, #7cd700, #97b000, #9b8c00, #906b17);
}
logo-blueityclientrips {
    float: left right top;
    height: 61px;
    margin: 0;
    content: url("/static/img/0ccfc131-9b98-49e1-af37-62e6bda74955.sketchpad (1).svg");
}
logo-blueityclientrips:hover {
    float: left top;
    height: 61px;
    margin: 0;
    content: url("https://raw.githubusercontent.com/gagominecraft12/blueityclientrips/master/static/img/6efbe41d-cfe8-401e-9d02-ed3e0127c5d7.sketchpad.svg");
}
#logo {
    float: left top;
	margin-left: 10px;
	margin-top: -0.8px;
    /**
    @bluecssfiner = {
            @opstarget true
    @width auto
    @margin 0
    @float left top
    }
    */
	height: 61px;
    margin: 0;
    content: url("./static/img/0ccfc131-9b98-49e1-af37-62e6bda74955.sketchpad (1).svg");
}
#school #logo {
    float: left top;
    height: 61px;
    margin-left: 10px;
    margin-top: -0.8px;
    content:url("./static/img/0ccfc131-9b98-49e1-af37-62e6bda74955.sketchpad (1).svg")
}
#logo:hover {
    float: left top;
	margin-left: 10px;
	margin-top: -0.8px;
	height: 61px;
    margin: 0;
    content: url("https://raw.githubusercontent.com/gagominecraft12/blueityclientrips/master/static/img/6efbe41d-cfe8-401e-9d02-ed3e0127c5d7.sketchpad.svg");
}
span logo-blueityclientrips {
    content: url("https://raw.githubusercontent.com/gagominecraft12/blueityclientrips/master/static/img/0ccfc131-9b98-49e1-af37-62e6bda74955.sketchpad%20(1).svg");
}
span logo-blueityclientrips:hover {
    content: url("https://raw.githubusercontent.com/gagominecraft12/blueityclientrips/master/static/img/6efbe41d-cfe8-401e-9d02-ed3e0127c5d7.sketchpad.svg");
}
anotherheader {
    background:rgb(204, 204, 204);
    display:contents;
}
slashboyxd {
    content: "%2F;";
}
.container {
    /* Update from 12/2/2021: We removed the tutorial version of the container as from no-asking. We changed it as of to add a Blue'ity Version. Be hype and be safe! */
    border:thick;
    box-sizing: border-box;
    float: top;
    overflow: hidden;
    box-shadow: #3b3b3b 50px solid;
    background-color: #0011ff;
}
.center {
    align-content: center;
}
/* Make the child go to the border */
.container>:nth-child() {
    border:thick;
    background: rgb(57, 149, 255);
    width: 100%;
    height: auto;
    background-color: #00eeff;
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}
/* The child must be with lot of details to border it to the limit. */
.about>:nth-last-child() {
    box-sizing: border-box;
}

.about-stylespage {
    width: 100%;
    height: auto;
    background-color: rgb(138, 255, 4);
    margin-right: auto;
    margin-left: auto;
    color: rgb(138, 255, 4);
}

.about {
    width: 100%;
    height: auto;
    background-color: rgb(122, 122, 122);
    margin-right: auto;
    margin-left: auto;
    color: rgb(122, 122, 122);
}

.box {
    width: 100%;
    height: auto;
    background-color: rgb(186, 255, 121);
    margin-right: auto;
    margin-left: auto;
    color: rgb(186, 255, 121); 
}

.warning-message {
    background: #ffb171;
    width: 100%;
    height: 80px;
    box-sizing:border-box;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}
/* Thanks to w3forschools for making me the dropdowns */
/*
REFERENCE:
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
 
*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .strong-center {
      text-align: center;
      font-size:larger;
      font-family: Segoe UI;
      color:rgb(0, 0, 0)
  }
button {
    border: 0px;
    background-size: auto;
    /* the background looks buggy, still in wip after we fix it */
    background: orange;
    background-size: 99px;
    filter: blur(0.7px);
    color: white;
    font-family: Segoe UI;
}
button:hover {
    border: 1px;
    background: white;
    color: rgb(184, 184, 184);
    font-size: medium 55.2px;
    font-family: Segoe UI;
}
#btn-blue {
    border: 0px;
    background: rgb(0, 132, 255);
    color: white;
    shape-outside:initial;
    font-family: Segoe UI;
}
#btn-blue:hover {
    border: 1px;
    background: rgb(126, 193, 255);
    color: rgb(184, 184, 184);
    shape-outside: dummy;
    font-family: Segoe UI;
}
sitcom-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;
}
school-p {
    color:rgb(255, 255, 255);
    font-family: Segoe UI;    
}
thisarea {
    display: list-item; color:rgb(57, 149, 255) calc(0);
}
details {
    color: white;
    font-family: Segoe UI;
}
strong {
    font-family: Segoe UI;
    color: white;
}
strong>::after {
    font-family: Segoe UI;
    color: white;
}
fieldset {
    background-color: rgb(187, 187, 187);
    background-position: center;
}
manticon {
    content: url(./static/svg/403icons/Drawing.sketchpad.svg);
}
wrning-mssagetext {
    font-family: Segoe UI;
    color: white;
}
noscript {
    background-color: black;
}
noscript .safearea {
    background-color: black;
    display: table;
}
div .table {
    background-color: black;
    display: table;
    /***
    @candidate: filter: blur(1vh);
     */
    caption-side: calc(0.2 = 5);
    color-interpolation-filters: sRGB;
}
.footer {
    left: 0%;
    float: bottom;
    height: 100%;
    width: 100%;
    background: rgb(50,50,50);
}
table {
    display: table;
    background-color: honeydew;
    border: 1px solid;
}
td { 
    color: rgb(0, 0, 0);
    font-family: Verdana;
}
select {
    border: 0px;
    background-color: rgb(70,70,70);
    color: white;
    box-sizing: border-box;
}
select,optgroup[label] {
    color: white;
    font-family: Verdana;
    font-size: medium;
}
input[type=text],input[type=email],input[type=password],input[type=submit],input[type=tel] {
    border: 0px;
    font-family: Verdana;
    color: white;
    background-color: rgb(70,70,70);
}
select,option {
    font-size: medium;
    font-family: Verdana;
    color: white;
}
div.warning {
    background-color: yellow;
    text-align: center;
    content: "⚠️ ";
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
h2 {
    color: black;
    font-family: verdana;
}
tr {
    background-color: gray;
}
a {
    font-family: Segoe UI;
    color:rgb(255, 255, 255)
}
br {
    font-family: Segoe UI;
    color:rgb(255, 255, 255)
}
bluefootermsg {
    font-family: Segoe UI;
    color: white;
}
noscript {
    background-color: black;
}
a:link {
    color: white;
    font-family: Segoe UI;
}
button.white {
    background: linear-gradient(to top center bottom #ffffff, #adadad, #383838);
    border: 0px;
}
a#href-btnwhite {
    color: black;
    font-family: Verdana; 
}
.authorize .frame {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
}
.authorize .frame #dropdown {
    display: block;
    position: relative;
}
.authorize .frame #dropdown:before {
    display: block;   
}
noscript#heading {
    font-family: verdana;
    color: black;
}